/* header.jsp's CSS */
* {padding: 0px; margin: 0px;}
hr {border: 2px solid lightgray;}
.header, .header_wrap, .menu_wrap, .body_wrap {width: 100%;}
.header_wrap {background-color: #fefefe;}
.menu_wrap {border-top: 2px solid lightgray; border-bottom: 2px solid lightgray; background-image: linear-gradient(#fefefe, #ededed);}
.header_main, .menu_main, .body_main {width: 1532px; margin: 0px auto;}
.top {width: 80%; padding: 20px 0px; margin: 0px auto; text-align: center;}
.top>a {display: block; width: 200px; margin: 0px auto; text-decoration: none; color: darkslategray; font-size: 30px; font-family: Times New Roman;}
.menu {width: 80%; margin: 0px auto; text-align: center;}
.menu>ul {display: block; list-style: none; margin-left: -6px;}
.menu>ul>li {display: inline-block; margin-right: -6px; padding: 10px 0px;}
.menu>ul>li>a {text-decoration: none; color: darkslategray; font-size: 20px; padding: 10px 40px;}

table {margin-top: 10px; width: 100%; border-radius: 50px;}
table, tr, td {border: 2px solid dimgray; border-collapse: collapse; text-align: center;}
thead {background-color: lightslategray; color: whitesmoke; font-size: 20px;}
thead>tr>td {padding: 10px 0px;}