<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 이름이 겹치는 것을 방지하기 위해 자기 이름을 붙여서 사용해주세요. (ex) BoardMapperYuni.xml) -->
<mapper namespace="org.badgers.persistence.BoardMapper">
 	<select id="getList" resultType="org.badgers.domain.BoardVO">
		select * from tbl_board
	</select>
	
	<insert id="insert" parameterType="org.badgers.domain.BoardVO">
		insert into tbl_board (title, content, writer, regdate) values (#{title},#{content},#{writer},sysdate())
	</insert>
</mapper>