<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 이름이 겹치는 것을 방지하기 위해 자기 이름을 붙여서 사용해주세요. (ex) BoardMapperYuni.xml) -->
<mapper namespace="org.badgers.persistence.BoardMapper_Yuriel">
	<insert id="insert">
		insert into open.tbl_board (title, content, writer, regdate) values (#{title}, #{content}, #{writer}, now())
	</insert>
	
	<select id="read" resultType="org.badgers.domain.BoardVO">
		select * from open.tbl_board where bno = #{bno}
	</select>
	
	<update id="update">
		update open.tbl_board set title = #{title}, content = #{content} where bno = #{bno}
	</update>
	
	<delete id="delete">
		delete from open.tbl_board where bno = #{bno}
	</delete>
	
	<select id="getList" resultType="org.badgers.domain.BoardVO">
		select * from open.tbl_board where bno > 0 order by bno desc
	</select>
</mapper>